
/* Styling for mat-chip and header */
.mat-chip-container h1 {
    margin: 0 0 24px 0;
    padding: 0;
    position: relative;
}

.mat-chip-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chip-set {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
}

mat-chip-option {
    transition: all 0.2s ease;
}

/*---*/

.test-spacer {
    flex: 1 1 auto;
}

.button-container .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.example-form-template {
    min-width: 150px;
    max-width: 800px;
    width: 100%;
}

.example-full-width{
    width: 100%;
}

/* Tested hero section for image */
/*.hero-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}*/

/* Styling for card and image inside the card */
.content-section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px 20px 20px;
}

.info-card {
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
    padding: 0;
}

.info-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 0;
    border-radius: 4px 4px 0 0;
}

.info-card mat-card-content {
    padding: 16px;
}

.info-card mat-card-header {
    margin-bottom: 16px;
}

.info-card mat-card-actions {
    padding: 16px;
}

.info-card mat-card-actions button {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .info-card {
        width: 95%;
    }
    
    .info-card img {
        height: 300px;
    }
}
/*--*/

/* Styling for mat-tab and its option buttons */
.select-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0px;
    padding: 16px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

.select-container mat-form-field {
    width: 100%;
    margin: 0px;
}

/* Override Material's default spacing
:host ::ng-deep .mat-mdc-form-field {
    margin: 0;
    padding: 0;
}

:host ::ng-deep .mat-mdc-form-field-wrapper {
    margin: 0;
    padding: 0;
}*/