.vehicle-card {
    margin: 16px;
    background-color: lightgrey;
}

/* a flex container that arranges the content of the card to be horizontal as opposed to vertical */
.card-content-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* ensures text content takes up the remaining space in the card */
.text-content {
    flex: 1;
    padding: 16px;
}

.img-container {
    width: 50%;
    height: 250px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

mat-card:hover{
    background-color: #acacac;
}

mat-card-header {
    margin-bottom: 16px;
}
